
*.ini
src/*.o
src/*.so
src/*.mod
*.dat
*.prn
*data.txt
.vscode/ 
src/actcor 
src/build 
src/fluids 
src/ctransf 
src/frendly 
src/meemum 
src/convex 
src/pstable 
src/pspts 
src/psvdraw 
src/pssect 
src/pt2curv 
src/vertex 
src/werami