
*.ini
src/*.o
src/*.so
src/*.mod
*data.txt
.vscode/ 
src/actcor 
src/build 
src/fluids 
src/ctransf 
src/frendly 
src/meemum 
src/convex 
src/pstable 
src/pspts 
src/psvdraw 
src/pssect 
src/pt2curv 
src/vertex 
src/werami
test/**/*.arf
test/**/*.blk
test/**/*.plt
test/**/*.prn
test/**/*.pts
test/**/*.ps
test/**/*.tim
test/**/*.tof
test/**/*auto_refine.txt