
*.ini
*.o
*.so
*.mod
*.dat
*.prn
*data.txt
.vscode/
vertex690
meemum690 
pssect690 
werami690 
unsplt690 
actcor 
build 
fluids 
ctransf 
frendly 
meemum 
convex 
pstable 
pspts 
psvdraw 
pssect 
pt2curv 
vertex 
werami